.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;

  background-color: var(--neutral-pale-blue);
}

.summary {
  display: flex;

  background-color: var(--neutral-white);
  border-radius: 32px;

  max-width: 736px;
}

.score {
  background: var(--primary-gradient);
  padding: 32px;
  border-radius: 32px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  flex: 1;
}

.score__title {
  font-size: 24px;
  font-weight: 700;
  color: var(--neutral-light-lavender);
  line-height: normal;
}

.rating {
  aspect-ratio: 1 / 1;
  width: 192px;
  background: var(--secondary-gradient);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  border-radius: 50%;
}

.rating__score {
  font-size: 72px;
  font-weight: 800;
  line-height: 72px;
  color: var(--neutral-white);
}

.rating__max-result {
  font-size: 18px;
  font-weight: 700;
  color: var(--neutral-light-lavender);
  line-height: normal;

  opacity: 0.5;
}

.feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

.feedback__title {
  font-weight: 700;
  font-size: 32px;
  color: var(--neutral-white);
  line-height: normal;
}

.feedback__text {
  font-size: 18px;
  font-weight: 500;
  color: var(--neutral-light-lavender);
  text-align: center;
  line-height: normal;
}

.outcomes {
  padding: 32px;

  background-color: var(--neutral-white);
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 2rem;
}

.outcomes__title {
  font-size: 24px;
  font-weight: 700;
  color: var(--neutral-dark-gray);
  line-height: normal;
}

.score-list {
  display: flex;
  flex-direction: column;

  gap: 16px;
}

.score-list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: 12px;
  padding: 16px;
}

.score-info {
  display: flex;
  gap: 12px;
}

.score-list__item--variant-red {
  background-color: var(--primary-light-red);
  color: var(--primary-red);
}

.score-list__item--variant-yellow {
  background-color: var(--primary-light-orangey-yellow);
  color: var(--primary-orangey-yellow);
}

.score-list__item--variant-green {
  background-color: var(--primary-light-green-teal);
  color: var(--primary-green-teal);
}

.score-list__item--variant-fiolet {
  background-color: var(--primary-light-cobalt-blue);
  color: var(--primary-cobalt-blue);
}

.score-list__title {
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
}

.score-list__result {
  font-size: 18px;
  font-weight: 700;
  color: var(--neutral-dark-gray);
  line-height: normal;
}

.score-list__max-result {
  font-size: 18px;
  font-weight: 700;
  color: var(--neutral-dark-gray);
  line-height: normal;
  opacity: 0.5;
}

.outcomes__button {
  width: 100%;
  padding: 16px 0px 16px 0px;
  border-radius: 128px;
  background: var(--neutral-dark-gray);

  font-size: 18px;
  font-weight: 700;
  color: var(--neutral-white);
  line-height: normal;
}

.outcomes__button:is(:hover, :focus) {
  background: var(--primary-gradient);
  cursor: pointer;
} 